.skeleton {
  background-color: #e0e0e0;
  animation: shimmer 1.5s infinite ease-in-out;
}

.text {
  border-radius: 4px;
  height: 1em;
  width: 100%;
}

.circular {
  border-radius: 50%;
}

.rectangular {
  border-radius: 4px;
}

@keyframes shimmer {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
