@reference '@travel-pins/tailwind/globals.css';

.icon {
    width: 1em !important;
    min-width: 1em !important;
    max-width: 1em !important;
    height: 1em !important;
    min-height: 1em !important;
    max-height: 1em !important;

    & * {
        fill: inherit !important;
        width: 1em !important;
        height: 1em !important;
    }
}