@reference '@travel-pins/tailwind/globals.css';

.typography {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  @apply overflow-hidden;
  @apply break-all;
  @apply leading-normal;
  @apply tracking-tight;
}

@for $i from 1 through 10 {
  .typography[data-max-line='#{$i}'] {
    -webkit-line-clamp: $i;
  }
}

.typography[data-variant='body-large'] {
  @apply text-lg;
}

.typography[data-variant='body-medium'] {
  @apply text-base;
}

.typography[data-variant='body-small'] {
  @apply text-sm;
}

.typography[data-variant='display-large'] {
  @apply text-6xl;
}

.typography[data-variant='display-medium'] {
  @apply text-5xl;
}

.typography[data-variant='display-small'] {
  @apply text-4xl;
}

.typography[data-variant='label-large'] {
  @apply text-xs;
}

.typography[data-variant='label-medium'] {
  @apply text-xxs;
}

.typography[data-variant='label-small'] {
  @apply text-xxxs;
}

.typography[data-variant='title-large'] {
  @apply text-3xl;
}

.typography[data-variant='title-medium'] {
  @apply text-2xl;
}

.typography[data-variant='title-small'] {
  @apply text-xl;
}
