# Naver Map
NEXT_PUBLIC_NAVER_MAP_CLIENT_ID=
NAVER_MAP_CLIENT_SECRET=

# Kakao
NEXT_PUBLIC_KAKAO_APP_KEY=
KAKAO_REST_KEY=
KAKAO_CLIENT_SECRET=

# API URLs
NEXT_PUBLIC_EXTERNAL_API_URL=http://localhost:4000
NEXT_PUBLIC_DYNAMIC_API_URL=http://localhost:3000/api
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Naver Login
NEXT_PUBLIC_NAVER_LOGIN_CLIENT_ID=
NAVER_LOGIN_CLIENT_SECRET=

# Google Login
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
